body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
}
main {
    grid-column-start: 2;
    display: grid;
    gap: 20px;
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
        'header header'
        'hero ad'
        'about ad'
        'service ad'
        'footer footer';
}
header {
    grid-area: header;
    background-color: yellow;
}
section {
    background-color: pink;
}
aside {
    background-color: aquamarine;

footer {
    background-color: forestgreen;
}

@media (min-width: 600px) {
    body {
        grid-template-columns: 1fr 500px 1fr;
    }
}
